html
	head
		meta(charset="utf-8")

		title Главная
	body

		table
			tr
				td
					a(href="/buy")
						button Купить
				td
					a(href="/sell")
						button Продать
				td
					a(href="/addmetro")
						button Добавить станцию метро
				td
					a(href="/statistic")
						button Статистика по квартирам у станций