html
	head
		meta(charset="utf-8")

		title Добавить станцию
		
		script(src="/public/scripts/jquery.js")
		script(src="/public/scripts/anychart.js")
		script(src="/public/scripts/ajax.js")
		script(src="/public/scripts/statistic.js")
	body

		p Количество доступных квартир c разным количеством комнат у станции метро 
			select(id="metro" onchange="getRooms()")
				for station in stations
					option(value=station[0]) #{station[0]}
			
		div(id="container" style="width: 400; height: 400")
		
		a(href="/")
			button На стартовую страницу
script.
	$( document ).ready(function() {
		getRooms();
	});